.swiper {
    height: 100%;
    width: 80%;
}

.swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;    
}

.swiper .swiper-slide img {
    border-bottom-right-radius: 150px;
    width: 100%;
    height: 100%;
}