.swiper {
    height: 500px;
    width: 80%;
}

.swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;    
}

.swiper .swiper-slide img {
    border-bottom-right-radius: 150px;
    width: 100%;
    height: 100%;
    /*width: 100%;
    height: 100%;*/
    /*background-size: cover;
    border-bottom-right-radius: 150px;
    /*position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-position-y: top left;
background-position-x: right 32px;*/

}